<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbZ0Njr-K5Mf8Ykk099tF9eTqzLHkPb9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>901812088277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bariqgifts.app</string>
	<key>PROJECT_ID</key>
	<string>bariq-gifts</string>
	<key>STORAGE_BUCKET</key>
	<string>bariq-gifts.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901812088277:ios:a7f26ba8b300e44ff0e15c</string>
</dict>
</plist>